<h1>House <%= @facade.surname %></h1>

<h2><%= pluralize(@facade.members.length, "Member") %></h2>

<% @facade.members.each do |member| %>
  <section class='member'>
    <p><%= member %></p>
  </section>
<% end %>
