<h1>Welcome to Westeros!</h1>

<%= form_tag search_path, method: :get do %>
  <section class='dropdown-select'>
    <%= label_tag :house %>
    <%= select_tag :house, options_for_select(houses.collect{ |u| [u[0], u[1]] }) %>

    <%= submit_tag "Get Members" %>
  </section>
<% end %>
